.searchResults {
    padding: 20px;
    margin-top: 20px;
}

.gridBox {
    box-shadow: inset 0px 0px 5px 1px rgb(214 214 214 / 20%);
    border-radius: 5px;
    padding: 20px;
}
.gridBox h3 {
    margin-bottom: 10px;
    color: #FEC502;
}
.gridBox p {
    margin: 5px 0px;
    color: #2A8CD0;
}

@media only screen and (max-width: 1000px) {
    .searchResults {
        padding: 2vw;
        margin-top: 2vw;
    }
}
@media only screen and (max-width: 534px) {
    .searchResults {
        padding: 2vw;
        margin-top: 2vw;
    }
}