@import url('https://fonts.googleapis.com/css2?family=Play&family=Teko:wght@300&display=swap');
@font-face {
    font-family: "Starjhol";
    src: local("Starjhol"),
      url("./fonts/Starjout.ttf") format("truetype");
}

* {
    font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}
.logo {
    max-width: 300px;
    margin: 20px auto;
}
h1 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
div {
    text-align: center;
    margin: 0 auto;
}
.starWarsWrapper {
    padding: 20px;
    max-width: 1000px;
}

@media only screen and (max-width: 1000px) {
    .logo {
        max-width: 30vw;
        margin: 2vw auto;
    }
    h1 {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 3vw;
    }
    h2 {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2vw;
    }
    .starWarsWrapper {
        padding: 2vw;
    }
}